{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}
{{ fontawesome_html() }}
<div class="main container mt-3">
    <h1 class="text-center mt-5"><i class="fa fa-user-edit"></i>View menu:</h1>
    <div class="row mt-3">
      <div class= "col-md-2"> </div>
<div class="col-md-8 login m-2">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}"> {{ message|capitalize }} </div>
    {% endfor %}
  {% endif %}
{% endwith %}

{{wtf.quick_form(registration_form)}}

</div>

</div>
</div>

{% endblock%}