.html{
    background-image: url(../photos/Background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}
.container-fluid .about{
    width: 100%;
    max-width: 100%;
    height: 572px;
    background-image: url(../photos/boxed.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 50px;
    margin-bottom: 10px;

}
.about {
    padding-top: 120px;

}
.about h1{
    font-size: 70px;
    font-family: 'Acme', sans-serif;
}
.link{
    padding: 50px;
    margin-left: 10px;
    font-size: 30px;
    font-family: 'Acme', sans-serif;
    color: red;
}.container-fluid .col-md-6{
    column-gap: 10px;
}

.container-fluid .col-md-6 img{
    padding-left: 10%;
    align-items: center;
    border-radius: 25px;

}
.container-fluid .col-md-6 .welcome{
  text-align: center;
  align-items: center;
  line-height: 3.5em;
}
.welcome h3{
    font-size: 45px;
    font-weight: bolder;
    padding: 15px;
    margin: 15px;
    font-family: 'Jaldi', sans-serif;
    color: rgb(54, 207, 54);
}
.container-fluid .howitworks{
    text-align: center;
    align-items: center;
    color: red;
    padding-top: 50px;
    margin-bottom: 50px;
    font-family: 'Acme', sans-serif;
    font-size: 30px;
}
.process{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 20px;
    font-family: 'Delius', cursive;
    font-size: 20px;
}


.container-fluid .footer {
    background-image: url(../photos/grey.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    max-width: 100%;
    height: 300px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    font-family: 'Delius', cursive;
    font-size: 25px;
    color: white;
}
.footer h5{
    color:rgb(12, 133, 12) ;
    font-size: 20px;
    font-weight: 900;
}
.footer .col-md-6{
    padding-left: 50px;
}
.process .card{
    width: 100%;
    height: 200px;
    background-color: rgb(219, 56, 56);
    border-radius: 25px;
}
.card h3{
    text-decoration: greenyellow underline;
    padding-top: 20px;
}

/* .container-fluid .footer .row{
    margin: 0px;
    padding: 0px;
} */