.html{
    background-image: url(./photos/Background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}
.container-fluid .about{
    width: 100%;
    max-width: 100%;
    height: 572px;
    background-image: url(./photos/boxed.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 50px;
    margin-bottom: 10px;

}