<!-- {% extends 'base.html' %} -->

<!-- Styles block -->
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{url_for('static',filename='css/about.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Delius&family=Itim&family=Jaldi&display=swap"
        rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

        {% endblock %}


        {% block content %}

        
        {% endblock %}