<!-- {% extends 'base.html' %} -->

<!-- Styles block -->
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{url_for('static',filename='css/about.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Delius&family=Itim&family=Jaldi&display=swap"
        rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

        {% endblock %}


        {% block content %}

        <div class="container-fluid">
            <div class="about">
                <h1> ABOUT US </h1>
                <div class="link">
                    <a href="#">Home </a>
                    >>>>
                    <a href="./index.html">About Us</a>
                    >>>>
                    <a href="./contact.html">Contact us</a>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <img src="./photos/delivery.jpg" alt="delivery" style="height: 500px; width: 400px;">
                    </div>
                    <div class="col-md-6">
                        <div class="welcome">
                            <h3>Welcome to our house</h3>
                            <h4
                                style="font-size: 25px;font-family: 'Jaldi', sans-serif; text-decoration: underline;color: red;">
                                Where we deliver and serve you the best of the best </h4>
                            <p style="font-family: 'Delius', cursive;font-size: 25px;"> Visiting places just to eat has its
                                perks but also sometimes its a bit tiring.That is why we came up with this delivey app for
                                you to enjoy food at the cormfort of your homes.Our pleasure</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}