<!-- {% extends 'base.html' %} -->

{% block styles%}
<link rel="stylesheet" href="{{url_for('static',filename='css/contact.css' )}} ">

{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="link">
        <a href="#">Home </a>
        >>>>
        <a href="./index.html">About Us</a>
        >>>>
        <a href="./contact.html">Contact us</a>
    </div>
</div>

<div class="wrapper">
    <h2>Contact us</h2>
    <div id="error_message"></div>
    <form id="myform" onsubmit="return validate();">
      <div class="input_field">
          <input type="text" placeholder="Name" id="name">
      </div>
      <div class="input_field">
          <input type="text" placeholder="Subject" id="subject">
      </div>
      <div class="input_field">
          <input type="text" placeholder="Phone" id="phone">
      </div>
      <div class="input_field">
          <input type="text" placeholder="Email" id="email">
      </div>
      <div class="input_field">
          <textarea placeholder="Message" id="message"></textarea>
      </div>
      <div class="btn">
          <input type="submit">
      </div>
    </form>
  </div>
  

{% endblock %}