{%extends 'base.html'%}
{%block content%}
<div class="main jumbotron" id="food">
 <h1>Good Food Good Mood !</h1>
</div>

<div class="container-fluid">
  <h1>How it works</h1>
  <p>The Process of our service</p>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Select,your favorite food</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Pickup or Delivery</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
         
        </div>
      </div>
    </div>
  </div>
  <div class="category">
    <h1>Food Category</h1>
    <p>The Process of our service</p>
    <br>
    <div class="card-deck">
      <div class="card">
        <img src="../static/image/breakfast.jpg" class="card-img-top" alt="Breakfast">
        <div class="card-body">
          <h5 class="card-title">Breakfast</h5>  
        </div>
      </div>
      <div class="card">
        <img src="../static/image/lunch.jpg" class="card-img-top" alt="Lunch">
        <div class="card-body">
          <h5 class="card-title">Lunch</h5>
        </div>
      </div>
      <div class="card">
        <img src="../static/image/dinner.jpg" class="card-img-top" alt="Dinner">
        <div class="card-body">
          <h5 class="card-title">Dinner</h5>
        </div>
      </div>
    </div>   
  </div>
</div>

<footer class="page-footer font-small bg-dark pt-4 w-100">
  <div class="footer-copyright text-center py-3">Copyright © 2020 | Food Delivery
  </div>  
</footer>
{%endblock%}