<div class=" main jumbotron">
    <h1>Food Delivery Menu</h1>
    <br>
    <a class="nav-link" href="index.html">Home</a> > <span>Menu</span>
</div>
<div class="container">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="../static/image/salad.jpg" class="card-img" alt="Vegetable Chicken Salad">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Vegetable Chicken Salad</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="../static/image/kimchi-fried-rice.jpg" class="card-img" alt="Kimchi Fried Rice">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Kimchi Fried Rice</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="../static/image/pancakes.jpg" class="card-img" alt="Pancakes Maple Syrup">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Pancakes Maple Syrup</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="../static/image/asparagus.jpg" class="card-img" alt="Asparagus Veal Steak">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Asparagus Veal Steak</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="../static/image/sushi.jpg" class="card-img" alt="Sushi Food">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Sushi Food</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="../static/image/spaghetti.jpg" class="card-img" alt="Spaghetti Bolognese With Meat Sauce">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Spaghetti Bolognese With Meat Sauce</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
    </div>
</div>