{%extends 'base.html'%}
{%import "bootstrap/wtf.html" as wtf%}
{%block content%}
<div class=" main jumbotron">
    <h1>Food Delivery Menu</h1>
    <br>
    <a class="nav-link" href="index.html">Home</a> > <span>Menu</span>
</div>
<div class="container">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="../static/image/salad.jpg" class="card-img" alt="Vegetable Chicken Salad">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Vegetable Chicken Salad</h5>
              <p class="card-text">Food Type: Chicken <br>
                Delivery time: 60 Minutes, Delivery Cost: Free</p>
              <a href="#" class="btn btn-primary">Add to Order</a>
            </div>
          </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="../static/image/kimchi-fried-rice.jpg" class="card-img" alt="Kimchi Fried Rice">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Kimchi Fried Rice</h5>
              <p class="card-text">Food Type: Rice<br>
                Delivery time: 60 Minutes, Delivery Cost: Free</p>
              <a href="#" class="btn btn-primary">Add to Order</a>
            </div>
          </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="../static/image/pancakes.jpg" class="card-img" alt="Pancakes Maple Syrup">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Pancakes Maple Syrup</h5>
              <p class="card-text">Food Type: Pancakes <br> 
                Delivery time: 60 Minutes, Delivery Cost: Free</p>
              <a href="#" class="btn btn-primary">Add to Order</a>
            </div>
          </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="../static/image/asparagus.jpg" class="card-img" alt="Asparagus Veal Steak">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Asparagus Veal Steak</h5>
              <p class="card-text">Food Type: Steak <br>
                Delivery time: 60 Minutes, Delivery Cost: Free</p>
              <a href="#" class="btn btn-primary">Add to Order</a>
            </div>
          </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="../static/image/sushi.jpg" class="card-img" alt="Sushi Food">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Sushi Food</h5>
              <p class="card-text">Food Type: Sushi <br>
                Delivery time: 60 Minutes, Delivery Cost: Free</p>
              <a href="#" class="btn btn-primary">Add to Order</a>
            </div>
          </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="../static/image/spaghetti.jpg" class="card-img" alt="Spaghetti Bolognese With Meat Sauce">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Spaghetti Bolognese With Meat Sauce</h5>
              <p class="card-text">Food Type: Spaghetti <br>
                Delivery time: 60 Minutes, Delivery Cost: Free</p>
              <a href="#" class="btn btn-primary">Add to Order</a>
            </div>
          </div>
        </div>
    </div>
</div>
{%endblock%}